@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes crazy {
    0% {
        transform: scale(0.8) rotate(0deg);
        background-color: #ff0000;
        border: 5px solid white;
    }

    25% {
        transform: scale(1.2) rotate(360deg);
        background-color: #00ff00;
        border: 5px dotted black;
    }

    50% {
        transform: scale(0.5) skewX(30deg) skewY(-20deg);
        background-color: #0000ff;
        border: none;
    }

    75% {
        transform: scale(1.5) translateX(50px) translateY(-20px);
        background-color: #ffff00;
        box-shadow: 0px 0px 10px #ff00ff;
    }

    100% {
        transform: scale(0.8) rotate(-360deg);
        background-color: #ff0000;
        border: 5px dashed white;
        box-shadow: 2px 2px 10px black;        
    }
}

.go-crazy {
    animation: rotation 2s infinite linear, crazy 4s infinite linear;
    border-style: dashed;
    transition: all 200ms ease-out;
}