body {
    font-family: 'Arial', sans-serif;
}

.fake-engine-logo {
    font-size: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fake-engine-logo-small {
    font-size: 2.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}